$button: (
        pallete-1: #4B7879,
        pallete-2: #21242F,
        pallete-3: #93CED0,
        secondary: #4B7879,
);

a.button {
  @include rem(padding, 8px 16px);
}

.button {
  @include rem(font-size, 14px);
  @include rem(line-height, 28px);
  @include rem(padding, 0 16px);
  border-radius: 2px;
  background-color: transparent;
  color: map-get($button, pallete-1);
  text-transform: uppercase;
  border: 1px solid map-get($button, pallete-1);
  cursor: pointer;
  &:hover {
    color: map-get($button, pallete-2);
    border: 1px solid map-get($button, pallete-2);
  }

  &--primary-on-dark {
    color: map-get($button, primary--on-dark);
    border: 1px solid map-get($button, primary--on-dark);
    &:hover {
      color: white;
      border-color: white;
    }
  }

  &--secondary {
    font-weight: map_get($font-weight, normal);
    color: white;
    background-color: map-get($button, pallete-1);
    &:hover {
      color: white;
      background-color: map-get($button, pallete-2);
    }
  }
  &--secondary-on-dark {
    color: map-get($button, pallete-2);
    background-color: map-get($button, pallete-3);
    border: 0;
    &:hover {
      background-color: white;
      border: 0;
    }
  }

  &--secondary-form {
    @include box-shadow(inset 0 -4px 0 0 rgba(0, 0, 0, 0.26));
  }

  &--large {
    @include rem(font-size, 20px);
    @include breakpoint($large) {
      @include rem(padding, 0 30px);
    }
    @include rem(line-height, 45px);
  }

}
