$slate: #4b7879;
$light-grey-blue: #93ced0;
$light-blue-grey: #d8f0f2;
$pale-grey: #ebf6f7;

$dark: #21242f;
$gunmetal: #484557;
$heather: #928dab;

$light-grey: #d9d9d8;
$lightest-grey: #e9e9e9;
$light-white: #f5f5f5;

//Error colours
$blood-orange: #ff4700;
$wheat: #ffd591;
$very-light-pink: #fdf5ea;

//Password success and checkbox tick
$sick-green: #b4d548;

//These are only used as shadow on green buttons
$dark-shadow: #284141;
$dark-shadow-grey-blue: #375859;

// others
$white: #ffffff;
$greenish-beige: #c1d862;
