$palette_1: #4A4357;					// purple-ish
$palette_2: rgb(33, 35, 47);			// black-ish
$palette_3: #4B7879;					// green-blue
$palette_4: rgb(234, 233, 227);			// pale grey
$palette_5: rgb(55, 65, 75);			// dark blue

$menu-background: rgba(255, 255, 255, 0.9);
$header: rgba(33, 36, 47, 1);
$header-light: #93CED0;
$footer-divider: rgba(#93CED0, 1);
$modal-background: rgba(33, 36, 47, 0.7);

$divider: #D3D1DD;

$secondary-font-color: #93CED0;
$highlight-icon: #93CED0;

$footer: (
  primary: rgba(75, 120, 121, 1),
  secondary: #375859,
  divider: rgba(#93CED0, 1)
);

$text-color: (
  pallete-1: #21242F,
  pallete-2: #4B7879,
  pallete-3: #484557,
  pallete-4: #93CED0
);

$hero-secondary-background: #F3F3F3;

$form-border-color: #E1E1E1;

$slate: #4b7879;
$light-grey-blue: #93ced0;
$light-blue-grey: #d8f0f2;
$pale-grey: #ebf6f7;

$dark: #21242f;
$gunmetal: #484557;
$heather: #928dab;

$light-grey: #d9d9d8;
$lightest-grey: #e9e9e9;
$light-white: #f5f5f5;

//Error colours
$blood-orange: #ff4700;
$wheat: #ffd591;
$very-light-pink: #fdf5ea;

//Password success and checkbox tick
$sick-green: #b4d548;

//These are only used as shadow on green buttons
$dark-shadow: #284141;
$dark-shadow-grey-blue: #375859;

// others
$white: #ffffff;
$greenish-beige: #c1d862;
