
@import 'colours';
@import 'mixins/text.scss';

.error-page {

  background-color: $dark;

  .text-muted {
    @include generate-text-color($heather, true);
  }

  hr {
    border: 1px solid;
  }

  .error-page__code {
    font-size: 200px;
    margin: 0px;
  }

  .error-page__link {
    text-decoration: none;
    border-bottom: 1px solid $heather;
  }
}

@include media(mobile) {
  .error-page {
    .error-page__code {
      font-size: 100px;
    }
  }
}