footer {

}
.footer__wrapper {

}
.footer__wrapper--secondary {

}

.footer {
  @include rem (padding, 32px 16px 32px 16px);
  &--primary {
    background-color: map-get($footer, primary);
  }
  &--secondary {
    display: flex;
    justify-content: space-around;
    @include rem(padding, 24px 16px 24px 16px);
    background-color: map-get($footer, secondary);
    @include breakpoint($tablet-landscape) {
      justify-content: flex-start;
    }
    &__links {
      @include rem(font-size, 14px);
      color: $secondary-font-color;
      @include breakpoint($tablet-landscape) {
        @include rem(margin-right, 16px);
      }
    }
  }
  &__social, &__email {
    text-align: center;
    flex: 0 1 100%;
    @include breakpoint($tablet-landscape) {
      flex-basis: 33%;
    };
  }
  &__email {
    @include rem(font-size, 12px);
    @include rem(padding-top, 25px );
    @include breakpoint($large) {
      padding-top: 0;
    }
    color: $secondary-font-color;
    &__link {
      @include rem(font-size, 20px);
      color: white;
      font-weight: map-get($font-weight, medium);
    }
  }
  &__logo {
    display: none;
    @include breakpoint($tablet-landscape) {
      display: flex;
    };
    align-items: center;
  }
}
