%header--compact {
  height: 55px;
  border-bottom: 0;
  align-items: center;


}
.header {
  z-index: 1;
  background: transparent;
  width: 100%;
  background-color: $header;
  position: fixed;
  top: 0;
  @extend %header--compact;
  @include rem(padding, 0 20px);
  @include breakpoint($large) {
    @include rem(padding, 0 48px);
    height: auto;
  }
  &__wrapper {
    @include rem(padding, 7px 0);
    border-bottom: 1px solid rgba($divider, 0.15);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    @include breakpoint($large) {
      @include rem(padding, 31px 0);
      justify-content: space-between;
      align-items: flex-start;
    }

    .header--compact & {
      @include rem(padding, 7px 0);
      border-bottom: 0;
      align-items: center;
    }
  }
  &--compact {
    height: 55px !important;
  }
  &--fixed {
    background-color: $header;

    margin: auto;
    bottom: auto;
  }
  &--documentation {
    bottom: inherit;
    margin-top: auto;
    background-color: white;
    &.header--fixed {
      background-color: white;
    }
  }
  &--transparent {
    background-color: transparent;
  }
  &--light {
    background-color: $header-light;
  }
}

.header__logo {
  @include breakpoint($large) {
    flex-basis: 28%;
  }
  &__letters * {
    fill: white;
    .header--documentation & {
      fill: map-get($text-color, pallete-3);
    }
  }
  svg {
    width: 141px;
    height: 22px;
    @include breakpoint($tablet-landscape) {
      width: 180px;
      height: 36px;
    }
    .header--home & {
      @include breakpoint($tablet-landscape) {
        width: auto;
      }
    }
  }
}
