//breakpoints

$tablet-landscape: 42.5em;
$large: 58.75em;
$large-landscape: 75em;

$site-width: 960px;

// grid
$gutter: 16px;
$gutter-xs: 10px;

$gutter-half: $gutter / 2;
$gutter-xs-half: $gutter-xs / 2;


//fonts setup
$primary-font: "Roboto", "HelveticaNeue", helvetica, arial, sans-serif;
$font-family: "Roboto";
$font-size: 16px;

$font-weight:(
  thin: 100,
  light: 300,
  normal: 400,
  medium: 500,
  bold: 700,
  bolder: 900
);
