@import "../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";
@import "var";
@import "mixins/rem";
@import "colours";


h1 {
  @include rem(font-size, 54px);
  @include rem(padding-bottom, 44px );
  font-weight: map-get($font-weight, light);
  border-bottom: 2px solid #D9D9D8;
  margin-top: 0;
}
h2 {
  @include rem(font-size, 34px);
  font-weight: map-get($font-weight, light);
}

.main--documentation {
  .main__section {
    text-align: left;
  }
  .content-wrapper {
    @include breakpoint($large) {
      @include rem(padding-left, 31px);
    }
    margin: 0;
  }
}
.main__section--sidebar-fixed + .main__section--documentation {
  @include breakpoint($large) {
    padding-left: 330px;
  }
}
.main__section--sidebar-documentation {
  @include rem(padding, 0 20px);
  color: map-get($text-color, pallete-3);
  text-align: left;
  @include breakpoint($large) {
    @include rem(padding, 0 50px);
    flex-basis: 330px;
    flex-shrink: 0;
  }
}

.main__section--sidebar-fixed {
  right: 0;
  top: 0;
  position: fixed;
  xpadding-top: 55px;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s;
  visibility: hidden;
  width: 80%;
  z-index: 2;
  height: 100vh;
  box-shadow: -3px 0px 7px 0px rgba(0,0,0,0.45);
  .isOpen & {
    transform: translate3d(0%, 0, 0);
    visibility: visible;
  }
  @include breakpoint($large) {
    box-shadow: none;
    padding-top: 0;
    top: 143px;
    left: 0;
    width: 330px;
    transition: none;
    transform: none;
    visibility: visible;
  }
}

code, pre {
  display: block;
  @include rem(padding, 16px);
  @include rem(margin, 16px 0 );
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
  width: 95%;

}
pre {
  code {
    margin: 0 ;
    padding: 0;
  }
}

a {
  color: #4B7879;
  font-weight: map-get($font-weight, medium);
  text-decoration: underline;
}
.sticky > *{
  margin: 0 !important;
  padding: 0 !important;
}
