@import '../var';
@import '../mixins/rem';


html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}


body {
  min-height: 100vh;
}

.main {
  background-color: #f8f8f8;
  flex: 1;
  padding-top: 55px;
  @include breakpoint($large) {
    padding-top: 103px;
  }
  .header--compact ~ & {
    padding-top: 95px;
  }
  &--documentation {
    padding-top: 95px;
    @include breakpoint($large) {
      padding-top: 143px;
    }
  }
}
.content-wrapper {
  @include rem(padding, 20px);
  @include breakpoint($tablet-landscape)  {
    @include rem(padding, 16px);
  }
  max-width: $site-width;
  margin: 0 auto;
}
