.main__section {
  position: relative;
  width: 100%;
  background-color: #25272F;
  &__content {
    padding-top: 40px;
    padding-bottom: 40px;

    background-size: cover;
    background-position: center center;
    &__text {
      @include rem(font-size, 20px);
    }
  }
  &--uxforms {
    background-image: url('/img/hero.jpg');
    @include rem(padding-top, 89px);
    @include breakpoint($large) {
      @include rem(padding-top, 118px);
    }
  }
  &--clipped {
    clip-path: polygon(50% 0%, 100% 0, 100% 94%, 50% 100%, 0% 94%, 0 0);
  }
  &--uxforms-compact {
    @include rem(padding-top, 42px);
    @include breakpoint($large) {
      @include rem(padding-top, 54px);
    }
  }
  &--transparent {
    background-color: transparent;
  }
  &--grayscale {
    background-color: $hero-secondary-background;
  }
  &--case-study {
    background-image: url('/img/hero-case-study.jpg');
    background-size: cover;
    background-position: right;
  }
  &--case-study, &--cta {
    p {
      @include rem(font-size, 30px);
      // @include breakpoint($large) {
      //   @include rem(font-size, 36px);
      // }
    }
  }
  &--documentation {
    background-color: white;
  }

  &--sidebar {
    border-right: 1px solid rgba(#E9E9E9, 1);
    background-color: white;
    flex-basis: 30%;
    &__item {
       a {
         @include rem(line-height, 32px);
         font-weight: map-get($font-weight, normal);
         text-transform: capitalize;
         display: block;
         color: map-get($text-color, pallete-3);
         border-bottom: 2px solid $divider;
         width: 100%;
         text-decoration: none;
       }
       .active {
         font-weight: map-get($font-weight, bold);
       }

    }
    &__sub-item {
      a {
        font-weight: map-get($font-weight, normal);
        border-bottom: 1px solid $divider;
      }
    }
  }
}
