// Checkbox
//
// Some description here
//
// Weight: 7
//
// Markup:
//    <div class="form-group">
//      <input class="form-control {{modifier_class}}" type="checkbox" id="demo">
//      <label class="form-label" for="demo">Yes</label>
//    </div>
//
// :focus       - some description
// :hover       - some description
// :active      - some description
// :checked     - some description
// :disabled    - some description
//
// Style guide: Base.form.checkbox
@import '../../../color';
@import '../../../UX-forms';
@import '../../../mixins/css3';

.form-control {
  &[type='checkbox'] {
    position: absolute;
    left: -9999px;

    + .form-label {
      position: relative;
      padding-left: 30px;
      padding-right: 15px;
      line-height: 20px;
      cursor: pointer;
      &:before {
        @include border-radius(2px);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid $heather;
        background: $white;
      }

      &:after {
        @extend .icon;
        content: '\6a';
        position: absolute;
        top: -5px;
        left: 2px;
        font-size: 22px;
        color: $sick-green;
      }
    }

    &:focus,
    &:hover,
    &:active, &.active {
      + .form-label {
        &:before {
          border-color: $light-grey-blue;
        }
      }
    }

    &:not(:checked) {
      + .form-label {
        &:after {
          @include opacity(0);
        }
      }
    }

    &:checked {
      + .form-label {
        &:after {
          @include opacity(1);
        }
      }
    }

    &:disabled {
      + .form-label {
        cursor: not-allowed;
        @include opacity(0.7);
        &:before {
          border-color: $heather;
        }
      }
    }
  }
}

.form-group {
  &.error {
    .form-control {
      &[type='checkbox'] {
        + .form-label {
          &:before {
            border-color: $blood-orange;
          }
          &:after {
            color: $blood-orange;
          }
        }
      }
    }
  }
}
