// File
//
// Some description here
//
// Weight: 6
//
// Markup:
//    <input class="form-control {{modifier_class}}" type="file">
//
// :focus       - some description
// :hover       - some description
// :active      - some description
// :disabled    - some description
//
// Style guide: Base.form.file
@import '../../../color';
@import '../../../mixins/css3';
@import '../../../mixins/font';
@import '../../../mixins/size';
@import '../../../mixins/text';


.form-label--file {
  position: relative;
  cursor: pointer;
  max-width: 400px;

  .faux-button {
    @include font-medium;
    @include size-default;
    @include border-radius(2px);
    background-color: $gunmetal;
    color: $white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
    margin-right: -10px;
    margin-bottom: -10px;
    margin-top: -10px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
    .error & {
      background-color: $blood-orange;
    }
  }
  .form-label--file__file-name {
    float: left;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-top: -10px;
    padding: 10px 20px;
    width: 60%;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}