// Group
//
// Some description here
//
// Weight: 0
//
// Markup:
//    <div class="form-group">
//      <label class="form-label" for="full-name">Full name</label>
//      <span class="form-hint">Your full name</span>
//      <input class="form-control" type="text" />
//    </div>
//    <div class="form-group">
//      <span class="form-label">Gender</span>
//      <span class="form-hint">Your gender</span>
//      <div class="form-group__item">
//        <input class="form-control" type="radio" id="male" checked />
//        <label class="form-label">Male</label>
//      </div>
//      <div class="form-group__item">
//        <input class="form-control" type="radio" id="female" />
//        <label class="form-label form-label-inline">Female</label>
//      </div>
//    </div>
//
//
// Style guide: Base.form.group
@import '../../../var';
@import '../../../mixins/conditionals';

.form-group {
  margin-bottom: 32px;
  padding-top: 32px;
  border-top: 1px solid $lightest-grey;
  .form-group__item--inline {
    display: inline-block;
  }
  clear: both;
}

.form-group--inline {

}

.form-group--xs-reset {

}

.form-group--date {
  float: left;
  margin-left: 16px;
  margin-bottom: 0;
  width: 70px;
  padding: 0;
  border: 0;
  clear: none;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-child {
    width: 100px;
  }
  .form-control {
    width: 100%;
  }
}


@include media(mobile) {
  .form-group {
    margin-bottom: $gutter-xs;
  }
}