// Hint
//
// Some description here
//
// Weight: 3
//
// Markup:
//    <span class="form-hint">Please enter your full name</span>
//
// Style guide: Base.form.hint
@import '../../../color';
@import '../../../mixins/font';
@import '../../../mixins/size';
@import '../../../mixins/text';

.form-hint {
  @include font-thin;
  @include size-medium;
  @include text-hint;
  margin-bottom: 10px;
}

.form-group {
  .form-hint {
    display: block;
  }
}
