// Input
//
// Some description here
//
// Weight: 4
//
// Markup:
//    <input class="form-control {{modifier_class}}" type="text" placeholder="Firstname">
//
// :focus       - some description
// :hover       - some description
// :active      - some description
// :disabled    - some description
//
// Style guide: Base.form.input
@import '../../../color';
@import '../../../mixins/css3';
@import '../../../mixins/font';
@import '../../../mixins/size';
@import '../../../mixins/text';
@import '../../../mixins/form';
@import '../../../mixins/conditionals';

.form-control {
  @include font-regular;
  @include size-default;
  @include text-muted;
  @include border-radius(2px);
  @include appearance(none);
  background-color: $white;
  border: solid 1px $heather;
  padding: 9px;
  margin-bottom: 10px;
  width: 100%;
  &:focus,
  &:hover,
  &:active, &.active {
    outline: none;
    outline-offset: 0;
    padding: 8px;
    border: solid 2px $light-grey-blue;
  }
  &:disabled {
    @include opacity(0.7);
    color: transparent;
    border: solid 1px $heather;
    padding: 9px;
    cursor: not-allowed;
  }

  .error & {
    padding: 8px;
    border: solid 2px $blood-orange;
  }
  @include breakpoint($tablet-landscape) {
    width: 50%;
  }
}