// Label
//
// Some description here
//
// Weight: 2
//
// Markup:
//    <label class="form-label" for="full-name">Full name</label>
//
// Style guide: Base.form.label
@import '../../../mixins/font';
@import '../../../mixins/size';
@import '../../../mixins/text';
@import '../../../mixins/conditionals';

.form-label {
  @include font-regular;
  @include size-big;
  @include text-muted;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 15px;
}

.form-label--highlight {
  @include text-hint;
}

.form-group {
  &.form-group--inline {
    .form-label {
      width: 25%;
      display: inline-block;
    }
  }
  .form-label {
    display: block;
  }
}

@include media(mobile) {
  .form-group {
    &.form-group--xs-reset {
      .form-label {
        display: block;
        width: 100%;
      }
    }
  }
}
