// Legend
//
// Some description here
//
// Weight: 1
//
// Markup:
//    <legend class="form__legend {{modifier_class}}">Login Form</legend>
//
// .form__legend--underline    -   some description
//
// Style guide: Base.form.legend
@import '../../../var';
@import '../../../color';
@import '../../../mixins/font';
@import '../../../mixins/size';
@import '../../../mixins/text';
@import '../../../mixins/conditionals';

.form__legend {
  @include font-regular;
  @include size-big;
  @include text-default;
  margin-bottom: $gutter;
  padding-left: 0;
  display: block;
  width: 100%;
  &.form__legend--underline {
    border-bottom: solid 2px $light-grey;
  }
}

@include media(mobile) {
  .form__legend {
    @include size-default;
    margin-bottom: $gutter-xs;
  }
}