// Radio
//
// Some description here
//
// Weight: 8
//
// Markup:
//    <div class="form-group">
//      <input class="form-control {{modifier_class}}" id="radio" type="radio">
//      <label class="form-label" for="radio">Yes</label>
//    </div>
//
// :focus       - some description
// :hover       - some description
// :active      - some description
// :checked     - some description
// :disabled    - some description
//
// Style guide: Base.form.radio
@import '../../../color';
@import '../../../mixins/css3';

.form-control {
  &[type='radio'] {
    position: absolute;
    left: -9999px;

    + .form-label {
      position: relative;
      padding-left: 30px;
      padding-right: 15px;
      line-height: 20px;
      cursor: pointer;
      &:before {
        @include border-radius(50%);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid $heather;
        background: $white;
      }

      &:after {
        @include border-radius(50%);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        border: 6px solid $gunmetal;
        background-color: $white;
      }
    }

    &:focus,
    &:hover,
    &:active, &.active {
      + .form-label {
        &:before {
          border-color: $light-grey-blue;

        }
      }
    }

    &:not(:checked) {
      + .form-label {
        &:after {
          @include opacity(0);
        }
      }
    }

    &:checked {
      + .form-label {
        &:after {

          @include opacity(1);
        }
      }
    }

    &:disabled {
      + .form-label {
        cursor: not-allowed;
        @include opacity(0.7);
        &:before {
          border-color: $heather;
        }
      }
    }
  }
}

.form-group {
  &.error {
    .form-control {
      &[type='radio'] {
        + .form-label {
          &:before {
            border-color: $blood-orange;
          }
          //&:after {
          //  border-color: $blood-orange;
          //}
        }
      }
    }
  }
}
