@import "../var";

@mixin font-thin {
  font-family: $font-family;
  font-weight: 100;
}

@mixin font-light {
  font-family: $font-family;
  font-weight: 300;
}

@mixin font-regular {
  font-family: $font-family;
  font-weight: 400;
}

@mixin font-medium {
  font-family: $font-family;
  font-weight: 500;
}

@mixin font-bold {
  font-family: $font-family;
  font-weight: 700;
}
