@import "../var";
@import "conditionals";
@import "css3";
@import "shims";

//$site-width: 960px;

// An extendable selector to wrap your entire site content block
// It limits the sites width to be 960px wide and maintains consistent margins
// on the site of the page and shrinks the margins for mobile.
//
// Usage:
//
// #page-container {
//   @extend %site-width-container;
// }

%site-width-container {
  @include ie-lte(8) {
    width: $site-width;
  }
  @include media(mobile) {
    padding-right: $gutter-xs-half;
    padding-left: $gutter-xs-half;
  }
  max-width: $site-width;
  padding-right: $gutter-half;
  padding-left: $gutter-half;
  margin: 0 auto;
}

// An extendable selector to define a row for grid columns to sit in
//
// Usage:
//
// .grid-row {
//   @extend %grid-row;
// }

%grid-row {
  @extend %contain-floats;
  @include media(mobile) {
    margin-right: -$gutter-xs-half;
    margin-left: -$gutter-xs-half;
  }
  margin-right: -$gutter-half;
  margin-left: -$gutter-half;
}

// A mixin for a grid column
// Creates a cross browser grid column with a standardised gutter between the
// columns. Widths should be defined as fractions of the full desktop width
// they want to fill. By default they break to become full width at tablet size
// but that can be configured to be desktop using the `$full-width` argument.
//
// Usage:
//
//   .column-quarter {
//     @include grid-column( 1/4 );
//   }
//   .column-half {
//     @include grid-column( 1/2 );
//   }
//   .column-third {
//     @include grid-column( 1/3 );
//   }
//   .column-two-thirds {
//     @include grid-column( 2/3 );
//   }
//   .column-desktop-third {
//     @include grid-column( 1/3, $full-width: desktop );
//   }
@mixin grid-column($width, $full-width: desktop, $float: left) {
  @include box-sizing(border-box);
  @include media($full-width) {
    float: $float;
    width: percentage($width);

    @if ($full-width == desktop) {
      padding-right: $gutter-half;
      padding-left: $gutter-half;
    } @else {
      padding-right: $gutter-xs-half;
      padding-left: $gutter-xs-half;
    }
  }

  position: relative;
  min-height: 1px;

  @include ie-lte(7) {
    width: (($site-width + $gutter) * $width) - $gutter;
  }
}
