@import "../var";

@mixin generate-font-size($font-size, $important: false) {
  @if ($important == false) {
    font-size: $font-size;
  } @else {
    font-size: $font-size !important;
  }
}

@mixin size-default($important: false) {
  @include generate-font-size($font-size, $important);
}

@mixin size-smallest($important: false) {
  @include generate-font-size($font-size - 5, $important);
}

@mixin size-smaller($important: false) {
  @include generate-font-size($font-size - 3, $important);
}

@mixin size-small($important: false) {
  @include generate-font-size($font-size - 2, $important);
}

@mixin size-medium($important: false) {
  @include generate-font-size($font-size + 2, $important);
}

@mixin size-big($important: false) {
  @include generate-font-size($font-size + 4, $important);
}

@mixin size-bigger($important: false) {
  @include generate-font-size($font-size + 8, $important);
}

@mixin size-biggest($important: false) {
  @include generate-font-size($font-size + 10, $important);
}
