
@mixin generate-text-color($color, $important: false) {
  @if ($important == false) {
    color: $color;
  } @else {
    color: $color !important;
  }
}

@mixin text-default($important: false) {
  @include generate-text-color($gunmetal, $important);
}

@mixin text-muted($important: false) {
  @include generate-text-color(map_get($text-color, pallete-1), $important);
}
@mixin text-hint($important: false) {
  @include generate-text-color($heather, $important);
}

@mixin text-success($important: false) {
  @include generate-text-color($greenish-beige, $important);
}

@mixin text-warning($important: false) {
  @include generate-text-color($wheat, $important);
}

@mixin text-danger($important: false) {
  @include generate-text-color($blood-orange, $important);
}
