//@import "css3";
@import "grid_layout";
@import "conditionals";
@import "../colours";

@mixin generate-responsive-css($name) {
  .#{$name} {
    @content;
  }
  @include media(desktop) {
    .#{$name}-md {
      @content;
    }
  }
  @include media(tablet) {
    .#{$name}-sm {
      @content;
    }
  }
  @include media(mobile) {
    .#{$name}-xs {
      @content;
    }
  }
}

@mixin generate-spacing-css($name, $property, $desktop, $mobile) {
  .#{$name} {
    #{$property}: $desktop !important;
  }
  @include media(mobile) {
    .#{$name} {
      #{$property}: $mobile !important;
    }
  }
}

@mixin generate-column($name, $size) {
  .#{$name} {
    @include grid-column($size, desktop);
  }
  .#{$name}-sm {
    @include grid-column($size, tablet);
  }
  .#{$name}-xs {
    @include grid-column($size, mobile);
  }

  @include generate-column-order(#{$name}-pull, left, percentage($size));

  @include generate-column-order(#{$name}-push, right, percentage($size));
}

@mixin generate-column-order($name, $property, $size) {
  @include media(desktop) {
    .#{$name} {
      #{$property}: $size;
    }
  }

  @include media(tablet) {
    .#{$name}-sm {
      #{$property}: $size;
    }
  }

  @include media(mobile) {
    .#{$name}-xs {
      #{$property}: $size;
    }
  }
}

@mixin style-icon () {
  [class^="icon-"],
  [class*=" icon-"] {
    @content;
  }
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin viewport-center {
  @include translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

@mixin full-screen {
  background-color: $modal-background;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  max-width: 100% !important;
}

@function em($px, $base: 19) {
  @return ($px / $base) + em;
}
