<h1 class="heading-title">{{{completedPage.heading}}}</h1>

<p class="text">{{{completedPage.text}}}</p>

<a class="button button--secondary" href="{{formPath}}/reset">{{{completedPage.startNewLink}}}</a>
