<h1 class="heading-title">{{{completedPage.heading}}}</h1>

<p class="text">{{{completedPage.text}}}</p>

{{^hideStartNewForm}}
  <a class="button button--secondary button--secondary-form" href="{{formPath}}/reset">{{{completedPage.startNewLink}}}</a>
{{/hideStartNewForm}}
