<select class="form-control" id="{{id}}" name="{{name}}" {{#required}} aria-required="true" {{/required}}>
  <option value=""></option>
        {{#choices}}
            <option value="{{value}}" {{#selected}} selected="selected" {{/selected}}>{{{text}}}</option>
        {{/choices}}
</select>
{{#validationMessages}}<span class="icon icon-icon-misc-error error__icon"></span>{{/validationMessages}}
