<input class="form-control" id="{{id}}" type="{{type}}" name="{{name}}" value="{{value}}"
	{{#required}} aria-required="true" {{/required}}
    {{#maxlength}} maxlength="{{maxlength}}" {{/maxlength}}
		{{#step}} step="{{step}}" {{/step}}
		{{#min}} min="{{min}}" {{/min}}
		{{#max}} max="{{max}}" {{/max}}
/>
{{#validationMessages}}<span class="icon icon-icon-misc-error error__icon"></span>{{/validationMessages}}
