<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang=""><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>{{{windowTitle}}}</title>

    <script type="text/javascript">
    (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>


    <link rel="shortcut icon" href="{{themeBaseUrl}}/images/favicon.ico" type="image/x-icon">

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{themeBaseUrl}}/images/apple-touch-icon-152x152.png">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{themeBaseUrl}}/images/apple-touch-icon-120x120.png">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{themeBaseUrl}}/images/apple-touch-icon-76x76.png">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="{{themeBaseUrl}}/images/apple-touch-icon-60x60.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,700,300,500' rel='stylesheet' type='text/css'>
    <link href="{{themeBaseUrl}}/stylesheets/uxforms.css"  rel="stylesheet" type="text/css">
    <script src="{{themeBaseUrl}}/javascripts/vendor/jquery/jquery.min.js"></script>
</head>
<body class="flex-wrapper flex-wrapper--column">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <header role="banner" class="header header--light">
        <div class="header__wrapper flex-wrapper flex-wrapper--row">

            <div class="header__logo">
              <a href="https://www.uxforms.com">
                <svg width="232px" height="36px" viewBox="-1 0 232 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="logo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g class="header__logo__letters" id="Group-2">
                            <path d="M53.1312738,2.63417576 L53.1312738,4.45420606 L49.7936279,4.72028182 L49.7936279,22.8193576 C49.7936279,25.3551909 50.5440953,27.3153424 52.0460617,28.6987818 C53.5475124,30.0827364 55.5064645,30.7748424 57.9226602,30.7748424 C60.3798608,30.7748424 62.3793021,30.0863424 63.9222734,28.7090848 C65.464729,27.3323424 66.2358279,25.3691 66.2358279,22.8193576 L66.2358279,4.72028182 L62.8984399,4.45420606 L62.8984399,2.63417576 L72.0103009,2.63417576 L72.0103009,4.45420606 L68.672655,4.72028182 L68.672655,22.8193576 C68.672655,26.064297 67.6795106,28.5457818 65.6932219,30.2635545 C63.707191,31.9815848 61.1169178,32.8403424 57.9226602,32.8403424 C54.7828179,32.8403424 52.2369023,31.9782364 50.2849132,30.2532515 C48.3329242,28.5285242 47.3568008,26.0506455 47.3568008,22.8193576 L47.3568008,4.72028182 L44.0191549,4.45420606 L44.0191549,2.63417576 L47.3568008,2.63417576 L49.7936279,2.63417576 L53.1312738,2.63417576 Z" id="Fill-1" fill="#FFFFFF"></path>
                            <polygon id="Fill-3" fill="#FFFFFF" points="75.3928975 30.6110758 77.891103 30.4065606 87.1667258 17.3181061 78.1979952 4.65877273 75.7000475 4.45425758 75.7000475 2.63422727 83.8904583 2.63422727 83.8904583 4.45425758 81.0443557 4.57712121 88.5794614 15.4568636 96.1351986 4.57712121 93.3301008 4.45425758 93.3301008 2.63422727 101.49988 2.63422727 101.49988 4.45425758 99.0019326 4.65877273 90.0538334 17.3181061 99.3294562 30.4065606 101.848035 30.6110758 101.848035 32.4107576 93.6779979 32.4107576 93.6779979 30.6110758 96.4833536 30.4882121 88.6204663 19.1790909 80.7372056 30.4882121 83.5629347 30.6110758 83.5629347 32.4107576 75.3928975 32.4107576"></polygon>
                            <polygon id="Fill-5" fill="#FFFFFF" points="105.087424 28.8319485 108.261308 28.218403 108.261308 6.84708485 105.087424 6.23353939 105.087424 2.63417576 128.819474 2.63417576 128.819474 10.7941758 124.232854 10.7941758 123.966709 7.23550909 114.24029 7.23550909 114.24029 15.4364636 124.683393 15.4364636 124.683393 20.037797 114.24029 20.037797 114.24029 28.218403 117.434548 28.8319485 117.434548 32.4109636 105.087424 32.4109636"></polygon>
                            <path d="M136.263105,21.5717636 C136.263105,23.5896121 136.617965,25.2087333 137.327944,26.4288697 C138.037406,27.6492636 139.183997,28.259203 140.767973,28.259203 C142.310171,28.259203 143.439998,27.6456576 144.156424,26.4185667 C144.873365,25.1917333 145.231578,23.5759606 145.231578,21.5717636 L145.231578,21.1423848 C145.231578,19.1791424 144.869755,17.5770212 144.146366,16.3362788 C143.422719,15.0957939 142.283092,14.4752939 140.726968,14.4752939 C139.170586,14.4752939 138.037406,15.0957939 137.327944,16.3362788 C136.617965,17.5770212 136.263105,19.1791424 136.263105,21.1423848 L136.263105,21.5717636 Z M130.283865,21.1423848 C130.283865,17.8428394 131.20841,15.1398394 133.058532,13.0336424 C134.908137,10.9271879 137.464111,9.87370303 140.726968,9.87370303 C144.003235,9.87370303 146.565656,10.9238394 148.41552,13.0233394 C150.265125,15.123097 151.190186,17.8294455 151.190186,21.1423848 L151.190186,21.5717636 C151.190186,24.8986121 150.265125,27.6085667 148.41552,29.7011121 C146.565656,31.7941727 144.016388,32.8401879 140.767973,32.8401879 C137.477779,32.8401879 134.908137,31.7941727 133.058532,29.7011121 C131.20841,27.6085667 130.283865,24.8986121 130.283865,21.5717636 L130.283865,21.1423848 Z" id="Fill-7" fill="#FFFFFF"></path>
                            <path d="M153.821954,28.8319485 L156.68843,28.218403 L156.68843,14.495797 L153.514804,13.8822515 L153.514804,10.2828879 L162.258137,10.2828879 L162.524282,13.5139182 C163.042904,12.3687364 163.711877,11.4759788 164.530944,10.8351303 C165.350011,10.1945394 166.29854,9.8736 167.377305,9.8736 C167.690902,9.8736 168.022294,9.89781212 168.370191,9.94546364 C168.718346,9.99337273 169.008217,10.0510697 169.240321,10.1193273 L168.605647,15.5593273 L166.148704,15.4977667 C165.274706,15.4977667 164.551318,15.6685394 163.978022,16.0093121 C163.404727,16.3500848 162.967857,16.8343273 162.66767,17.4610091 L162.66767,28.218403 L165.534146,28.8319485 L165.534146,32.4109636 L153.821954,32.4109636 L153.821954,28.8319485 Z" id="Fill-9" fill="#FFFFFF"></path>
                            <path d="M172.422457,13.8822258 L172.422457,10.2828621 L181.165532,10.2828621 L181.411304,13.2073773 C182.121024,12.143847 183.011785,11.3224379 184.083587,10.7428924 C185.15513,10.1636045 186.394046,9.87357424 187.800077,9.87357424 C189.219518,9.87357424 190.43445,10.1875591 191.444873,10.8144985 C192.45478,11.4416955 193.219174,12.3893167 193.738054,13.6573621 C194.420695,12.4709682 195.307588,11.5442106 196.400021,10.8758015 C197.491938,10.2079076 198.77547,9.87357424 200.249326,9.87357424 C202.433418,9.87357424 204.156914,10.6272409 205.419814,12.1335439 C206.682199,13.6403621 207.313778,15.9343318 207.313778,19.015453 L207.313778,28.2183773 L210.200885,28.8319227 L210.200885,32.4109379 L198.75458,32.4109379 L198.75458,28.8319227 L201.334538,28.2183773 L201.334538,18.9951045 C201.334538,17.3180288 201.061688,16.1522409 200.515729,15.4977409 C199.969512,14.8432409 199.157151,14.5161197 198.078902,14.5161197 C197.232498,14.5161197 196.498794,14.7036348 195.877789,15.0786652 C195.256525,15.453953 194.761887,15.9752864 194.393359,16.6431803 C194.393359,16.9023015 194.400064,17.1238167 194.413732,17.3077258 C194.427143,17.4918924 194.434364,17.6794076 194.434364,17.8700136 L194.434364,28.2183773 L196.850559,28.8319227 L196.850559,32.4109379 L186.05956,32.4109379 L186.05956,28.8319227 L188.475755,28.2183773 L188.475755,18.9951045 C188.475755,17.3589833 188.202389,16.2034985 187.656689,15.52865 C187.110472,14.8535439 186.291405,14.5161197 185.199488,14.5161197 C184.393832,14.5161197 183.687464,14.6696348 183.080127,14.9764076 C182.47279,15.2829227 181.970931,15.7161652 181.575323,16.274847 L181.575323,28.2183773 L184.155281,28.8319227 L184.155281,32.4109379 L172.72935,32.4109379 L172.72935,28.8319227 L175.616715,28.2183773 L175.616715,14.4957712 L172.422457,13.8822258 Z" id="Fill-11" fill="#FFFFFF"></path>
                            <path d="M229.996488,17.8904909 L225.983164,17.8904909 L225.34849,15.1295364 C224.938957,14.8026727 224.423687,14.5299 223.802424,14.3114758 C223.181161,14.0938242 222.495167,13.9843545 221.744699,13.9843545 C220.693271,13.9843545 219.860794,14.2195212 219.246494,14.6898545 C218.632451,15.1601879 218.325043,15.7502939 218.325043,16.4588848 C218.325043,17.1272939 218.618525,17.6828848 219.205489,18.1256576 C219.792452,18.5689455 220.966379,18.9609758 222.72727,19.3017485 C225.471247,19.8472939 227.505246,20.6483545 228.829524,21.7049303 C230.153287,22.7615061 230.815555,24.2170667 230.815555,26.071097 C230.815555,28.0616424 229.958836,29.6877182 228.245913,30.9485515 C226.532475,32.2099 224.276689,32.8401879 221.478554,32.8401879 C219.772079,32.8401879 218.205381,32.5913697 216.779235,32.0939909 C215.352573,31.5963545 214.086579,30.8839 212.980993,29.9568848 L212.919357,24.9872182 L217.096443,24.9872182 L217.91551,27.8707788 C218.27037,28.170597 218.755208,28.3921121 219.369508,28.5353242 C219.983809,28.6785364 220.625187,28.7501424 221.294161,28.7501424 C222.509093,28.7501424 223.433896,28.5319758 224.068827,28.0956424 C224.703501,27.6595667 225.020709,27.0663697 225.020709,26.3165667 C225.020709,25.6620667 224.69989,25.0964303 224.058511,24.6188848 C223.416617,24.1421121 222.235985,23.7191727 220.516099,23.351097 C217.908547,22.8194606 215.939537,22.0317939 214.608811,20.9888697 C213.277827,19.9456879 212.612207,18.5246424 212.612207,16.7249606 C212.612207,14.8706727 213.3766,13.2721576 214.905388,11.9289 C216.434175,10.5864152 218.611562,9.91465758 221.437549,9.91465758 C223.157435,9.91465758 224.785253,10.1467333 226.321003,10.6098545 C227.856754,11.0737485 229.06137,11.6666879 229.93511,12.3894455 L229.996488,17.8904909 Z" id="Fill-13" fill="#FFFFFF"></path>
                        </g>
                        <g class="header__logo__shape" id="Group-2">
                            <path d="M35.9409673,18.0230455 C35.9409673,27.9514091 27.8954038,35.9998636 17.9706064,35.9998636 C8.04553631,35.9998636 -2.72629313e-05,27.9514091 -2.72629313e-05,18.0230455 C-2.72629313e-05,8.09468182 8.04553631,0.0462272727 17.9706064,0.0462272727 C27.8954038,0.0462272727 35.9409673,8.09468182 35.9409673,18.0230455" id="Fill-15" fill="#61939A"></path>
                            <polygon id="Fill-18" fill="#FFFFFF" points="26.6781412 24.0248182 9.26285345 24.0248182 9.26285345 21.2500909 26.6781412 21.2500909"></polygon>
                            <polygon id="Fill-20" fill="#FFFFFF" points="26.6781412 14.7302727 9.26285345 14.7302727 9.26285345 11.9555455 26.6781412 11.9555455"></polygon>
                            <polygon id="Fill-21" fill="#FFFFFF" points="17.0379687 19.371 9.26285345 19.371 9.26285345 16.5962727 17.0379687 16.5962727"></polygon>
                            <polygon id="Fill-22" fill="#FFFFFF" points="26.6781412 19.371 18.9030259 19.371 18.9030259 16.5962727 26.6781412 16.5962727"></polygon>
                        </g>
                    </g>
                </svg>
              </a>
            </div>
            <div class="heading--medium-small header-text">{{{formTitle}}}</div>
        </div>

    </header>


    <main id="content" role="main" class="main">

        <div class="content-wrapper">
            {{ > body }}
        </div>

    </main>

    <footer id="footer" role="contentinfo">
        <div class="footer footer--primary">

        </div>
        <div class=" footer footer--secondary">
            <a class="footer--secondary__links font--normal" href="https://www.uxforms.com/free-trial-terms-and-conditions/">Terms &amp; Conditions</a>
            <a class="footer--secondary__links font--normal" href="https://www.uxforms.com/privacy-policy/">Privacy Policy</a>
            <a class="footer--secondary__links font--normal" href="mailto:hello@uxforms.com">Contact</a>

        </div>

    </footer>
    <script src="{{themeBaseUrl}}/javascripts/uxforms.js"></script>

    </body>
</html>
