{{#choices}}
  <div {{#displayAsRow}} class="form-group__item--inline" {{/displayAsRow}}>
    <input id="{{id}}_{{value}}" class="form-control" type="radio" name="{{name}}" value="{{value}}" {{#selected}} checked="checked" {{/selected}} />

    <label class="form-label form-label--highlight {{#selected}} selected {{/selected}}" for="{{id}}_{{value}}">
      {{{text}}}
    </label>
  </div>
  {{{nestedWidget}}}
{{/choices}}
