{{#choices}}
  <div class="multiple-choice">
    <input id="{{id}}_{{value}}" name="{{name}}" type="checkbox" class="form-control" value="{{value}}" {{#selected}} checked="checked" {{/selected}} />
    <label for="{{id}}_{{value}}" class="form-label form-label--highlight">{{{text}}}</label>
  </div>
  {{{nestedWidget}}}
{{/choices}}
