{{#choices}}
    <div {{#displayAsRow}} class="form-group__item--inline" {{/displayAsRow}}>
        <input id="{{id}}_{{value}}" class="form-control" type="radio" name="{{name}}" value="{{value}}"
            {{#selected}}checked="checked" {{/selected}}>
        </input>
        <label class="form-label {{#selected}}selected{{/selected}}" for="{{id}}_{{value}}">{{{text}}}</label>
    {{#displayAsRow}}</div> {{/displayAsRow}}
{{/choices}}
