{{{ repeatedWidget }}}
<button class="button" name="{{addRowButtonName}}">Add</button>
<table class="table">
    <thead>
        <tr><th>Values</th><th>Action</th></tr>
    </thead>
    <tbody>
        {{#rows}}
        <tr>
            <td>{{repeatingInput}}</td>
            <td><button class="button button--secondary" name="{{deleteRowButtonName}}">delete</button></td>
        </tr>
        {{/rows}}
    </tbody>
</table>