{{{progressBar}}}


{{ #hasValidationErrors }}
<div class="error__summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
    <h1 id="error-summary-heading" class="heading-medium error__summary__heading">{{{errorTitle}}}</h1>
    <ul class="error__summary__list hard--left">
        {{ #globalErrors }}
        <li>{{{validationMessage}}}</li>
        {{ /globalErrors }}
        {{ #widgetErrors }}
        <li><a href="#{{widgetId}}" class="error__summary__error-item font-bold">{{{validationMessage}}}</a></li>
        {{ /widgetErrors }}
    </ul>
</div>
{{ /hasValidationErrors }}

<form method="post" class="form col-2-3-pull" enctype="multipart/form-data">

    <button type="submit" tabindex="-1" class="visually-hidden"></button>

    <fieldset>
        <legend class="form-title heading-medium font--thin">{{{sectionTitle}}}</legend>
        {{{ widgets }}}
    </fieldset>

    <button class="button" name="{{previousButtonName}}" {{#isFirstSection}}disabled{{/isFirstSection}}>
        {{previousButton}}
    </button>

    <button class="button button--secondary button--secondary-form" type="submit">
        {{^isLastSection}}
            {{continueButton}}
        {{/isLastSection}}
        {{#isLastSection}}
            {{submitButton}}
        {{/isLastSection}}
    </button>

</form>

<script>
    $(document).ready(function() {
        addListeners("{{sectionWidgetVisibilityListenerUrl}}")
    })
</script>
