<input class="form-control" id="{{ id }}" type="text"
	aria-required="true"
	maxlength="2"
	data-stripe="exp-month"
/>

<input class="form-control" type="text" 
	aria-required="true"
	maxlength="4" 
	data-stripe="exp-year"
/>