<div class="form-group warning {{#hidden}} hidden {{/hidden}}" id="{{widgetId}}">
  <i class="icon icon-warning">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    {{{warningText.content}}}
  </strong>
</div>
