<div class="form-group {{#validationMessages}} error {{/validationMessages}} {{#hidden}} hidden {{/hidden}} {{#forRadioButtons}} selectable-list {{/forRadioButtons}}" id="{{widgetId}}">
	<label for="{{id}}">
		<span class="form-label">{{{label}}}</span>
    {{#hasHint}}
			<span class="form-hint">{{{hint}}}</span>
		{{/hasHint}}

	</label>
    {{#validationMessages}}
        <span class="error__message">{{.}}</span>
    {{/validationMessages}}

  {{ > widget }}

</div>
