<div class="form-group {{#validationMessages}} error {{/validationMessages}} {{#hidden}} hidden {{/hidden}} {{#forRadioButtons}} selectable-list {{/forRadioButtons}}" id="{{widgetId}}">
  <fieldset class="{{#displayAsRow}} inline {{/displayAsRow}}">

  			<legend class="form-label">{{{label}}}</legend>

  			{{#hasHint}}
  				<span class="form-hint">{{{hint}}}</span>
  			{{/hasHint}}

  			{{#validationMessages}}
  				<span class="error__message">{{.}}</span>
  			{{/validationMessages}}

  			{{ > widget }}

  		</fieldset>
</div>
