.divider {
  &--footer {
    align-items: stretch;
    flex-wrap: wrap;
    @include breakpoint($large) {
      flex-wrap: nowrap;
    }
  }
}
.divider__content {
  .divider--footer & {
    @include breakpoint($tablet-landscape) {
      @include rem(padding, 0 26px);
      border-right: 3px solid $footer-divider;
    }

    &:first-child {
      @include rem(padding-left, 0);
      @include breakpoint($tablet-landscape) {
        flex-basis: 50%;
      };
      @include breakpoint($large) {
        flex-basis: auto;
      };
    }
    &:last-child {
      @include rem(padding-right, 0);
      border-right: 0;
      flex-basis: 100%;
      @include breakpoint($large) {
        flex-basis: auto;
      };
    }
    &:nth-child(2) {
      padding: 0;
      flex: 1 0 100%;
      align-items: center;
      text-align: left;
      flex-wrap: wrap;
      @include breakpoint($tablet-landscape) {
        flex-basis: 50%;
        border-right: 0;
        padding-right: 0;
        justify-content: flex-end;
        flex-wrap: nowrap;
      };
      @include breakpoint($large) {
        flex-basis: 33%;
        justify-content: flex-start;
        border-right: 3px solid $footer-divider;
      }
    }
    flex: 1;
    text-align: center;
    color: white;
  }
}
