.highlight {
  display: flex;
  &--stacked {
    @include rem(padding, 10px 0);
    flex-direction: row;
    @include breakpoint($tablet-landscape) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-basis: 30%;
      padding: 0;
    }
  }
  &__icon {
      svg {
        width: 102px;
        height: 102px;
      }
      flex: 0 0 102px;
      @include breakpoint($tablet-landscape) {
        @include rem(margin-bottom, 16px);
      }

  }
  &__content {
    @include rem(padding-left, 18px);
    text-align: left;
    @include breakpoint($tablet-landscape) {
      text-align: center;
      padding: 0;
    }
    &__header {
      @include rem(font-size, 30px);
      font-weight: map-get($font-weight, medium);
      margin: 0;
    }
    &__text {
      @include rem(font-size, 20px);
      font-weight: map-get($font-weight, thin);
    }

  }
}
.highlight-list {
  display: flex;
  flex-direction: column;
  @include breakpoint($tablet-landscape) {
    flex-direction: row;
    justify-content: space-between;
  }
}
