.navigation {
  &--header {

  }
  &__menu-reveal {
    cursor: pointer;
    @include breakpoint($large) {
      display: none;
    }
    .header--documentation & {
      * {
        fill: $header;
      }
    }

  }
  &__list {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate3d(100%, 0, 0);
    transition: all 0.5s;
    visibility: hidden;
    @include rem(padding, 16px);
    z-index: 5;
    .isOpen & {
      transform: translate3d(0%, 0, 0);
      visibility: visible;
    }
    background-color: $header;
    width: 78%;
    height: 100vh;
    @include rem(font-size, 18px);
    @include breakpoint($large) {
      padding: 0;
      @include rem(font-size, 16px);
      transition: none;
      transform: none;
      background: transparent;
      display: block;
      position: static;
      height: auto;
      width: auto;
      visibility: visible;      
    }

    &__item {
      @include breakpoint($large) {
        display: inline-block;
        @include rem(margin-right, 24px);
      }
      &:last-child {
        margin-right: 0;
      }
      @include rem(line-height, 48px);
      a {
        &:hover {
          color: map-get($text-color, pallete-4);
        }
      }
      @include breakpoint($large) {
        line-height: normal;
      }
    }
    &__item--active {
      a {
        color: map-get($text-color, pallete-4);
      }
    }
    @include breakpoint($large) {
    }
    &__close {
      margin: 0;
      position: relative;
      left: -5px;
      cursor: pointer;
      @include breakpoint($large) {
        display: none !important;
      }
    }

  }
}

body{
  &.isOpen {
    overflow: hidden;
  }
}
