.progress-indicator {

	ol{
	height: 75px;

		li {
		color: #4B7879;
		padding: 5px;
		border: #4B7879 solid 3px;
		float: left;
		margin-left: 30px;
		white-space: nowrap;

			a {
			color: #4B7879;
			}

		}

	}

}

.current {
	background-color: #4B7879;
	margin-left: 0px;

	a{
		color: #f5f5f5 !important;
	}

}