// Button
//
// Some description here
//
// Weight: 1
//
// Markup:
//  <button class="button {{modifier_class}}">Button</button>
//  <button class="button button--icon {{modifier_class}}">
//      <i class="icon-icon-control-print"></i>
//  </button>
//  <button class="button button--icon-before {{modifier_class}}">
//    <i class="icon-icon-control-print"></i>
//    Button
//  </button>
//  <button class="button button--icon-after {{modifier_class}}">
//      Button
//      <i class="icon-icon-control-print"></i>
//  </button>
//  <button class="button button--rounded {{modifier_class}}">Button</button>
//  <button class="button button--link {{modifier_class}}">Button</button>
//  <button class="button button--primary {{modifier_class}}">Button</button>
//  <button class="button button--alert {{modifier_class}}">Button</button>
//  <button class="button button--secondary button--icon-before {{modifier_class}}">
//    <i class="icon-icon-control-plus"></i>
//    Button
//  </button>
//  <button class="button button--primary button--icon-after {{modifier_class}}">
//    Button
//    <i class="icon-icon-control-plus"></i>
//  </button>
//
// :hover       - some description
// :focus       - some description
// :active      - some description
// .disabled    - some description
//
// Style guide: Base.button
@import '../mixins/css3';
@import '../mixins/font';
@import '../mixins/size';
@import '../mixins/text';
@import '../mixins/util';

.button {
  @include transition(all, 400ms, ease);
  @include border-radius(2px);
  @include font-regular;
  @include size-default;
  background-color: transparent;
  border: solid 1px $heather;
  color: $heather;
  white-space: nowrap;
  cursor: pointer;
  padding: 8.5px 20px;
  text-decoration: none;

  &:disabled {
    @include opacity(0.7);
    cursor: default;
    &:hover,
    &:focus,
    &:active, &.active {
      border: solid 1px $heather;
      color: $heather;
    }
  }

  &:hover,
  &:focus,
  &:active, &.active {
    border: solid 1px $gunmetal;
    color: $gunmetal;
    outline: none;
  }

  // Sizes
  //
  // Some description here
  //
  // Weight: 2
  //
  // Markup:
  //  <button class="button {{modifier_class}}">Button</button>
  //  <button class="button button--rounded {{modifier_class}}">Button</button>
  //  <button class="button button--link {{modifier_class}}">Button</button>
  //  <button class="button button--primary {{modifier_class}}">Button</button>
  //  <button class="button button--alert {{modifier_class}}">Button</button>
  //
  // .button--xsmall   - some description
  // .button--small    - some description
  // .button--large    - some description
  //
  // Style guide: Base.button.size
  &.button--large {
    padding: 11px 25px;
  }

  &.button--small {
    padding: 6px 12px;
  }

  &.button--xsmall {
    padding: 3px 10px;
  }

  // Slim
  //
  // Some description here
  //
  // Weight: 3
  //
  // Markup:
  //  <button class="button button--slim {{modifier_class}}">Button</button>
  //  <button class="button button--slim button--icon-before {{modifier_class}}">
  //    <i class="icon-icon-control-print"></i>
  //    Button
  //  </button>
  //  <button class="button button--slim button--icon-after {{modifier_class}}">
  //      Button
  //      <i class="icon-icon-control-print"></i>
  //  </button>
  //  <button class="button button--slim button--rounded {{modifier_class}}">Button</button>
  //  <button class="button button--slim button--link {{modifier_class}}">Button</button>
  //  <button class="button button--slim button--primary {{modifier_class}}">Button</button>
  //  <button class="button button--slim button--alert {{modifier_class}}">Button</button>
  //  <button class="button button--slim button--secondary button--icon-before {{modifier_class}}">
  //    <i class="icon-icon-control-plus"></i>
  //    Button
  //  </button>
  //  <button class="button button--slim button--secondary button--icon-after {{modifier_class}}">
  //    Button
  //    <i class="icon-icon-control-plus"></i>
  //  </button>
  //  <button class="button button--slim button--primary button--icon-before {{modifier_class}}">
  //    <i class="icon-icon-control-plus"></i>
  //    Button
  //  </button>
  //  <button class="button button--slim button--primary button--icon-after {{modifier_class}}">
  //    Button
  //    <i class="icon-icon-control-plus"></i>
  //  </button>
  //
  // .button--xsmall   - some description
  // .button--small    - some description
  // .button--large    - some description
  //
  // Style guide: Base.button.slim
  &.button--slim {
    padding-right: 10px;
    padding-left: 10px;

    &.button--large {
      padding-right: 12.5px;
      padding-left: 12.5px;
    }

    &.button--small {
      padding: 6px;
    }

    &.button--xsmall {
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  // Types
  //
  // Some description here
  //
  // Weight: 4
  //
  // Markup:
  //  <button class="button button--xsmall {{modifier_class}}">Button</button>
  //  <a href="#" class="button button--xsmall {{modifier_class}}">Button</a>
  //
  // .button--link    - some description
  // .button--rounded   - some description
  //
  // Style guide: Base.button.type
  &.button--link {
    border-color: transparent;
    text-decoration: underline;
    color: $slate;
    &:disabled {
      @include opacity(0.7);
      &:hover,
      &:focus,
      &:active, &.active {
        border: solid 1px transparent;
        color: $heather;
      }
    }

    &:hover,
    &:focus,
    &:active, &.active {
      border: solid 1px transparent;
      color: $gunmetal;
    }
  }

  &.button--rounded {
    @include border-radius(15px);
    @include font-medium;
    @include text-muted;
    background-color: $lightest-grey;
    border: solid 1px $lightest-grey;

    &:active, &.active {
      @include text-default;
    }

    &:hover,
    &:focus {
      @include text-default;
      background-color: transparent;
      border: solid 1px $heather;
    }

    &:disabled {
      &:hover,
      &:focus,
      &:active, &.active {
        @include text-muted;
        background-color: $lightest-grey;
        border: solid 1px $lightest-grey;
      }
    }
  }

  // Styles
  //
  // Some description here
  //
  // Weight: 5
  //
  // Markup:
  //  <button class="button {{modifier_class}}">Button</button>
  //  <button class="button button--icon {{modifier_class}}">
  //      <i class="icon-icon-control-print"></i>
  //  </button>
  //  <button class="button button--icon-before {{modifier_class}}">
  //    <i class="icon-icon-control-plus"></i>
  //    ADD NEW USER
  //  </button>
  //  <button class="button button--icon-after {{modifier_class}}">
  //    ADD NEW USER
  //    <i class="icon-icon-control-plus"></i>
  //  </button>
  //
  // .button--primary     - some description
  // .button--secondary   - some description
  // .button--alert       - some description
  //
  // Style guide: Base.button.style
  &.button--primary {
    @include font-medium;
    @include box-shadow(inset 0 -4px 0 0 rgba(0, 0, 0, 0.26));
    color: $light-white;
    background-color: map_get($button, primary);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);

    &:disabled {
      &:hover,
      &:focus,
      &:active, &.active {
        background-color: map_get($button, primary--hover);
      }
    }

    &:hover,
    &:focus,
    &:active, &.active {
      background-color: $dark-shadow-grey-blue;
      color: $light-white;
    }

    &.button--icon-before {
      padding-left: 4px;
      @include style-icon {
        @include border-radius(2px);
        border-right: 1px solid $dark-shadow;
        padding: 6px 10px 6px 6px;
      }

      &.button--large {
        padding-left: 4px;
        @include style-icon {
          padding: 8px 12px 8px 8px;
        }
      }

      &.button--small {
        padding-left: 4px;
        @include style-icon {
          padding: 4px 8px 4px 4px;
        }
      }

      &.button--xsmall {
        padding-left: 4px;
        @include style-icon {
          padding: 1px 5px 1px 1px;
        }
      }
    }

    &.button--icon-after {
      padding-right: 4px;
      @include style-icon {
        @include border-radius(2px);
        border-left: 1px solid $dark-shadow;
        padding: 6px 6px 6px 10px;
      }

      &.button--large {
        padding-right: 4px;
        @include style-icon {
          padding: 8px 8px 8px 12px;
        }
      }

      &.button--small {
        padding-right: 4px;
        @include style-icon {
          padding: 4px 4px 4px 8px;
        }
      }

      &.button--xsmall {
        padding-right: 4px;
        @include style-icon {
          padding: 1px 1px 1px 5px;
        }
      }
    }
  }

  &.button--secondary {
    background-color: transparent;
    border-color: $slate;
    color: $slate;

    &.button--icon-before,
    &.button--icon-after {
      @include style-icon {
        &:before {
          background-color: $slate;
          color: $white;
        }
      }
    }

    &:disabled {
      &:hover,
      &:focus,
      &:active, &.active {
        border-color: $slate;
        color: $slate;
        &.button--icon-before,
        &.button--icon-after {
          @include style-icon {
            &:before {
              background-color: $slate;
            }
          }
        }
      }
    }

    &:hover,
    &:focus,
    &:active, &.active {
      color: $dark-shadow-grey-blue;
      border-color: $dark-shadow-grey-blue;
      &.button--icon-before,
      &.button--icon-after {
        @include style-icon {
          &:before {
            background-color: $dark-shadow-grey-blue;
          }
        }
      }
    }

    &.button--icon-before {
      padding-left: 4px;
      @include style-icon {
        &:before {
          @include border-radius(2px);
          padding: 6px;
        }
      }

      &.button--large {
        padding-left: 4px;
        @include style-icon {
          &:before {
            padding: 8px;
          }
        }
      }

      &.button--small {
        padding-left: 4px;
        @include style-icon {
          &:before {
            padding: 4px;
          }
        }
      }

      &.button--xsmall {
        padding-left: 4px;
        @include style-icon {
          &:before {
            padding: 2px 1px 1px 2px;
          }
        }
      }
    }

    &.button--icon-after {
      padding-right: 4px;
      @include style-icon {
        &:before {
          @include border-radius(2px);
          padding: 6px;
        }
      }

      &.button--large {
        padding-right: 4px;
        @include style-icon {
          &:before {
            @include border-radius(2px);
            padding: 8px;
          }
        }
      }

      &.button--small {
        padding-right: 4px;
        @include style-icon {
          &:before {
            @include border-radius(2px);
            padding: 4px;
          }
        }
      }

      &.button--xsmall {
        padding-right: 4px;
        @include style-icon {
          &:before {
            @include border-radius(2px);
            padding: 2px 1px 1px 2px;
          }
        }
      }
    }
  }

  &.button--alert {
    @include font-medium;
    @include text-danger;
    background-color: $white;
    border-color: $blood-orange;

    &:hover,
    &:focus,
    &:active, &.active {
      @include text-danger;
      background-color: $wheat;
      border-color: $blood-orange;
    }
  }

  // Icon
  //
  // Some description here
  //
  // Weight: 6
  //
  // Markup:
  //  <button class="button button--icon {{modifier_class}}">
  //      <i class="icon-icon-control-print"></i>
  //  </button>
  //  <button class="button button--icon-before {{modifier_class}}">
  //    <i class="icon-icon-control-print"></i>
  //    Button
  //  </button>
  //  <button class="button button--icon-after {{modifier_class}}">
  //      Button
  //      <i class="icon-icon-control-print"></i>
  //  </button>
  //  <button class="button button--secondary button--icon-before {{modifier_class}}">
  //    <i class="icon-icon-control-plus"></i>
  //    Button
  //  </button>
  //  <button class="button button--secondary button--icon-after {{modifier_class}}">
  //    Button
  //    <i class="icon-icon-control-plus"></i>
  //  </button>
  //  <button class="button button--primary button--icon-before {{modifier_class}}">
  //    <i class="icon-icon-control-plus"></i>
  //    Button
  //  </button>
  //  <button class="button button--primary button--icon-after {{modifier_class}}">
  //    Button
  //    <i class="icon-icon-control-plus"></i>
  //  </button>
  //
  // .button--xsmall   - some description
  // .button--small    - some description
  // .button--large    - some description
  //
  // Style guide: Base.button.icon
  &.button--icon {
    padding: 8.5px;
    width: 35px;
    height: 35px;

    &.button--large {
      padding: 11px;
      width: 40px;
      height: 40px;
    }

    &.button--small {
      padding: 6px 7px;
      width: 30px;
      height: 30px;
    }

    &.button--xsmall {
      padding: 3px 4px;
      width: 24px;
      height: 24px;
    }
  }

  &.button--icon-before {
    padding-left: 10px;
    @include style-icon {
      margin-right: 10px;
    }

    &.button--slim {
      @include style-icon {
        margin-right: 5px;
      }

      &.button--large {
        @include style-icon {
          margin-right: 6px;
        }
      }

      &.button--small {
        @include style-icon {
          margin-right: 4px;
        }
      }

      &.button--xsmall {
        @include style-icon {
          margin-right: 2px;
        }
      }
    }

    &.button--large {
      padding-left: 12px;
      @include style-icon {
        margin-right: 12px;
      }
    }

    &.button--small {
      padding-left: 8px;
      @include style-icon {
        @include size-small;
        margin-right: 8px;
      }
    }

    &.button--xsmall {
      padding-left: 5px;
      @include style-icon {
        @include size-smaller;
        margin-right: 5px;
      }
    }
  }

  &.button--icon-after {
    padding-right: 10px;
    @include style-icon {
      margin-left: 10px;
    }

    &.button--slim {
      @include style-icon {
        margin-left: 5px;
      }

      &.button--large {
        @include style-icon {
          margin-left: 6px;
        }
      }

      &.button--small {
        @include style-icon {
          margin-left: 4px;
        }
      }

      &.button--xsmall {
        @include style-icon {
          margin-left: 2px;
        }
      }
    }

    &.button--large {
      padding-right: 12px;
      @include style-icon {
        margin-left: 12px;
      }
    }

    &.button--small {
      padding-right: 8px;
      @include style-icon {
        @include size-small;
        margin-left: 8px;
      }
    }

    &.button--xsmall {
      padding-right: 5px;
      @include style-icon {
        @include size-smaller;
        margin-left: 5px;
      }
    }
  }

  // Block
  //
  // Some description here
  //
  // Weight: 7
  //
  // Markup:
  //  <button class="button button--primary button--block">Button</button>
  //
  // Style guide: Base.button.block
  &.button--block {
    @include box-sizing(border-box);
    width: 100%;
    min-width: auto;
    display: inline-block;
  }
}
