.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list--inline {
  li {
    display: inline-block;
  }
}
.list--navigation-header {
  li {
    display: inline-block;
    padding-right: 2em;
  }
}
