.table {
  width: 60%;
  padding: 16px;

  th {
    text-align: left;
  }
  th, td {
    padding: 10px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      width: 60px;
      padding-right: 0;
    }
  }
  td {
    border-bottom: 1px solid $form-border-color;

  }
  tr:last-child {
    td {
      border-bottom: 0;
    }
  }
}