html {
  font-family: $primary-font;
  color: map-get($text-color, pallete-3);
}
p, a {
  font-weight: map-get($font-weight, light);
}
p {
  color: map-get($text-color, pallete-3);
}
a {
  text-decoration: none;
  color: $dark;
  @include font-regular;
}

.heading--small {
  @include rem(font-size, 18px );
  @include breakpoint($large) {
    @include rem(font-size, 24px);
  }
}
.heading--medium-small {
  @include rem(font-size, 24px);
  @include breakpoint($large) {
    @include rem(font-size, 35px);
  }
}
.heading-medium {
  @include rem(font-size, 33px );
  @include breakpoint($large) {
    @include rem(font-size, 42px);
  }
}
.heading-large {
  @include rem(font-size, 41px );
  @include breakpoint($large) {
    @include rem(font-size, 60px);
  }
}

.header-text {
  color: white;
}
.secondary-text {
  color: map-get($text-color, pallete-4);
}
.secondary-text--alternate {
  color: map-get($text-color, pallete-2);
}

details {
  div {
    padding-left: 0.5em;
    margin-top: 0.3em;
    border-left: 3px solid $light-grey;
  }
}

.panel {
  @include box-sizing(border-box);
  @extend %contain-floats;
  clear: both;
  border-left-style: solid;
  border-color: $light-grey-blue;

  padding: em(15, 19);
  margin-bottom: em(15, 19);

  :first-child {
    margin-top: 0;
  }

  :only-child,
  :last-child {
    margin-bottom: 0;
  }
}

.panel-border-wide {
  border-left-width: 10px;
}
