// Layout
//
// Some description here
//
// Style guide: Helper.layout
@import "../var";
@import "../mixins/util";
@import "../mixins/conditionals";


// Position
//
// Some description here
//
// Markup:
//  <div style="width: 500px;" class="{{modifier_class}}">
//    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
//  </div>
//
// .full-screen     - some description
// .center-block    - some description
// .viewport-center - some description
//
// Style guide: Helper.layout.position

.full-screen {
  @include full-screen;
}

.center-block {
  @include center-block;
}

.viewport-center {
  @include viewport-center;
}

// Float
//
// Some description here
//
// Markup:
//  <div style="width: 300px;" class="{{modifier_class}}">
//    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
//  </div>
//
// .pull-left     - some description
// .pull-right    - some description
// .clearfix      - some description
//
// Style guide: Helper.layout.float
@include generate-responsive-css('pull-left') {
  float: left !important;
}

@include generate-responsive-css('pull-right') {
  float: right !important;
}

.clearfix {
  @include clearfix;
}

// Visibility
//
// Some description here
//
// Markup:
//  <p class="{{modifier_class}}">
//    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
//  </p>
//
// .hidden          - some description
// .visible         - some description
// .inline-block    - some description
// .block           - some description
// .visually-hidden - some -description
// Style guide: Helper.layout.visibility
@include generate-responsive-css('hidden') {
  display: none !important;
}

@include generate-responsive-css('visible') {
  display: block !important;
}

@include generate-responsive-css('block') {
  display: block !important;
}

@include generate-responsive-css('inline-block') {
  display: inline-block !important;
}

@include generate-responsive-css('visually-hidden') {
  border: 0!important;
  clip:  rect(0 0 0 0)!important;
  height: 1px!important;
  margin: -1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important;
}
@include generate-responsive-css('visuallyhidden') {
  border: 0!important;
  clip:  rect(0 0 0 0)!important;
  height: 1px!important;
  margin: -1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important;
}
// Push
//
// Some description here
//
// Markup:
//  <div style="border: 1px solid red;">
//    <div style="margin: 20px;" class="{{modifier_class}}">
//      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
//    </div>
//  </div>
//
// .push          - some description
// .push--top     - some description
// .push--bottom  - some description
// .push--left    - some description
// .push--right   - some description
// .push--sides   - some description
// .push--ends    - some description
//
// Style guide: Helper.layout.push

@include generate-spacing-css('push', margin, $gutter, $gutter-xs);
@include generate-spacing-css('push--bottom', margin-bottom, $gutter, $gutter-xs);
@include generate-spacing-css('push--top', margin-top, $gutter, $gutter-xs);
@include generate-spacing-css('push--right', margin-right, $gutter, $gutter-xs);
@include generate-spacing-css('push--left', margin-left, $gutter, $gutter-xs);
@include generate-spacing-css('push--sides', margin-right, $gutter, $gutter-xs);
@include generate-spacing-css('push--sides', margin-left, $gutter, $gutter-xs);
@include generate-spacing-css('push--ends', margin-top, $gutter, $gutter-xs);
@include generate-spacing-css('push--ends', margin-bottom, $gutter, $gutter-xs);

// Push half
//
// Some description here
//
// Markup:
//  <div style="border: 1px solid red;">
//    <div style="margin: 20px;" class="{{modifier_class}}">
//      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
//    </div>
//  </div>
//
// .push-half          - some description
// .push-half--top     - some description
// .push-half--bottom  - some description
// .push-half--left    - some description
// .push-half--right   - some description
// .push-half--sides   - some description
// .push-half--ends    - some description
//
// Style guide: Helper.layout.push-half
@include generate-spacing-css('push-half', margin, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('push-half--bottom', margin-bottom, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('push-half--top', margin-top, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('push-half--right', margin-right, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('push-half--left', margin-left, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('push-half--sides', margin-right, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('push-half--sides', margin-left, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('push-half--ends', margin-top, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('push-half--ends', margin-bottom, $gutter-half, $gutter-xs-half);

// Flush
//
// Some description here
//
// Markup:
//  <div style="border: 1px solid red;">
//    <div style="margin: 20px;" class="{{modifier_class}}">
//      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
//    </div>
//  </div>
//
// .flush         - some description
// .flush--top    - some description
// .flush--bottom - some description
// .flush--left   - some description
// .flush--right  - some description
// .flush--sides  - some description
// .flush--ends   - some description
//
// Style guide: Helper.layout.flush
@include generate-responsive-css('flush') {
  margin: 0 !important;
}
@include generate-responsive-css('flush--right') {
  margin-right: 0 !important;
}
@include generate-responsive-css('flush--left') {
  margin-left: 0 !important;
}
@include generate-responsive-css('flush--top') {
  margin-top: 0 !important;
}
@include generate-responsive-css('flush--bottom') {
  margin-bottom: 0 !important;
}
@include generate-responsive-css('flush--sides') {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
@include generate-responsive-css('flush--ends') {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// Soft
//
// Some description here
//
// Markup:
//  <div style="padding: 20px; border: 1px solid red;" class="{{modifier_class}}">
//    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
//  </div>
//
// .soft         - some description
// .soft--top    - some description
// .soft--bottom - some description
// .soft--left   - some description
// .soft--right  - some description
// .soft--sides  - some description
// .soft--ends   - some description
//
// Style guide: Helper.layout.soft

@include generate-spacing-css('soft', padding, $gutter, $gutter-xs);
@include generate-spacing-css('soft--bottom', padding-bottom, $gutter, $gutter-xs);
@include generate-spacing-css('soft--top', padding-top, $gutter, $gutter-xs);
@include generate-spacing-css('soft--right', padding-right, $gutter, $gutter-xs);
@include generate-spacing-css('soft--left', padding-left, $gutter, $gutter-xs);
@include generate-spacing-css('soft--sides', padding-right, $gutter, $gutter-xs);
@include generate-spacing-css('soft--sides', padding-left, $gutter, $gutter-xs);
@include generate-spacing-css('soft--ends', padding-top, $gutter, $gutter-xs);
@include generate-spacing-css('soft--ends', padding-bottom, $gutter, $gutter-xs);

// Soft Half
//
// Some description here
//
// Markup:
//  <div style="padding: 20px; border: 1px solid red;" class="{{modifier_class}}">
//    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
//  </div>
//
// .soft-half         - some description
// .soft-half--top    - some description
// .soft-half--bottom - some description
// .soft-half--left   - some description
// .soft-half--right  - some description
// .soft-half--sides  - some description
// .soft-half--ends   - some description
//
// Style guide: Helper.layout.soft-half

@include generate-spacing-css('soft-half', padding, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('soft-half--bottom', padding-bottom, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('soft-half--top', padding-top, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('soft-half--right', padding-right, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('soft-half--left', padding-left, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('soft-half--sides', padding-right, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('soft-half--sides', padding-left, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('soft-half--ends', padding-top, $gutter-half, $gutter-xs-half);
@include generate-spacing-css('soft-half--ends', padding-bottom, $gutter-half, $gutter-xs-half);

// Hard
//
// Some description here
//
// Markup:
//  <div style="padding: 20px; border: 1px solid red;" class="{{modifier_class}}">
//    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
//  </div>
//
// .hard         - some description
// .hard--top    - some description
// .hard--bottom - some description
// .hard--left   - some description
// .hard--right  - some description
// .hard--sides  - some description
// .hard--ends   - some description
//
// Style guide: Helper.layout.hard

@include generate-responsive-css('hard') {
  padding: 0 !important;
}
@include generate-responsive-css('hard--right') {
  padding-right: 0 !important;
}
@include generate-responsive-css('hard--left') {
  padding-left: 0 !important;
}
@include generate-responsive-css('hard--top') {
  padding-top: 0 !important;
}
@include generate-responsive-css('hard--bottom') {
  padding-bottom: 0 !important;
}
@include generate-responsive-css('hard--sides') {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
@include generate-responsive-css('hard--ends') {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

//flexbox helpers

%flex-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

%flex-wrapper--row {
  flex-direction: row !important;
}

%flex-wrapper--row-reverse {
  flex-direction: row-reverse !important;
}

%flex-wrapper--column {
  flex-direction: column !important;
}

%flex-wrapper--column-reverse {
  flex-direction: column-reverse !important;
}
%flex-wrapper--row-to-column {
  @extend %flex-wrapper--row;
  @include breakpoint($large) {
    flex-direction: column !important;
  }
}
%flex-wrapper--column-to-row {
  @extend %flex-wrapper--column;
  @include breakpoint($large) {
    flex-direction: row !important;
  }
}

%flex-items--wrapped {
  flex-wrap: wrap;
}

%flex-items--nowrap {
  flex-wrap: nowrap;
}
.flex-wrapper {
  @extend %flex-wrapper;

  &--row {
    @extend %flex-wrapper--row;
  }

  &--row-reverse {
    @extend %flex-wrapper--row-reverse;
  }

  &--column {
    @extend %flex-wrapper--column;
  }

  &--column-reverse {
    @extend %flex-wrapper--column-reverse;
  }
  &--row-to-column {
    @extend %flex-wrapper--row-to-column;
  }
  &--column-to-row {
    @extend %flex-wrapper--column-to-row;
  }

}
