@include generate-responsive-css('text--uppercase') {
  text-transform: uppercase !important;
}


.font-thin {
  font-weight: map-get($font-weight, thin) !important;
}
.font-light {
  font-weight: map-get($font-weight, light) !important;
}
.font-normal {
  font-weight: map-get($font-weight, normal) !important;
}
.font-medium {
  font-weight: map-get($font-weight, medium) !important;
}
.font-bold {
  font-weight: map-get($font-weight, bold) !important;
}
